<% layout("./layouts/boilerPlate") %>

<div class="row">
    <div class="alert alert-danger col-6 offset-3 mt-4" role="alert">
            <p><b>Error message:</b> <%= err.message %></p>
    </div>
</div>
