body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #FF5A5F;
    font-size: 2rem;
}

.navbar-nav a {
    color: #222222 !important;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-socials {
    display: flex;
    font-size: 1.3rem;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ebebeb;
    height: 10rem;
}

.f-info-socials i {
    margin: 1rem;
}

/* cards */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    height: 20rem;
}

.card-body {
    padding: 0px !important;
}

.card-text {
    font-weight: 400 !important;
}

.row a {
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

.add-btn {
    background-color: #FF5A5F !important;
    border: none !important;
}

.edit-btn {
    background-color: #FF5A5F !important;
    border: none !important;
}

.show-btn {
    display: flex;
    justify-content: space-between;
}

.show-btn button {
    background-color: #FF5A5F !important;
    border: none;
}

.edit-Img {
    height: 150px;
    width: 250px;
}

.f-info-socials i:hover {
    font-size: 1.4rem;
}

/* MAP */

#map {
  width: 100%; 
  height: 0;
  padding-bottom: 56.25%; 
  position: relative;
 }

 @media (max-width: 768px) {
    #map {
      padding: 65%; 
    }
  }

 .image {
  width: 100%;            /* Always take full width of parent */
  max-height: 400px;        /* Prevent overflow */
  height: auto;           /* Adjust with content unless fixed */
  border-radius: 1rem;    /* Optional: rounded corners */
  overflow: hidden;       /* Hide parts of image if it overflows */
}

.image show-img {
  width: 100%;            /* Scales with container */
  height: 100%;           /* Keeps aspect ratio */
  object-fit: cover;      /* If you set fixed height, crops instead of stretching */
  display: block;         /* Removes extra space below image */
}

@media (max-width: 768px) {
  .image {
    max-height: 250px;   /* adjust as you like */
  }
  .image show-img {
    object-fit: cover;   /* ensures the image fills nicely */
  }
}



  